


$themecolor:rgb(35, 126, 237);
body{
    margin: 0;padding: 0;
    position: relative;
img.fixed{
        position: fixed;
        bottom: 0;left: 0;
        z-index: -10;
        min-height: 100vh;
        width: 100%;
    }
header{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;left: 0;
    box-shadow: 0px 3px 3px #666;
    z-index: 5;
    section.logo{
    flex: 4 1 300px;
    display: flex;
    align-items: center;
    

    img{
        width: 6vw;
        height: 6vw;
    }

    h1{
    font-size: 2.5rem;
    }
    }
    i.menu{
    display: none;
    }
    nav{
    flex: 5 1 500px;
    ul.phone{
    display: none;
    }

    ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li{
            list-style: none;

        a{
            text-decoration: none;
            font-size: 1rem;
            color: #666;
            transition: all 0.1s ease;
            padding-bottom: 0.4rem;
            &:hover{
             color: $themecolor;
             border-bottom: 2px solid $themecolor;
            }
        }    
    }
    }
    }


}

main{
    

    section.background-img{
    min-height: 70vh;
    background-image: url(../images/日本櫻花.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.75s ease;
    position: relative;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    div.filter{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;left: 0;
    min-height: 70vh;
    width: 100%;
    z-index: -1;
    }
    h3{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    }

    
    }

    section.info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        background-color: #fff;
        h3{
        font-size: 2rem;
        text-align: center;
        }
        div.circles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding:1rem;
         div.circle{
           flex: 0 1 250px; 
           display: flex;
           flex-direction: column;
           align-items: center;
            
            
            img{
            width: 80%;
            border-radius: 50%;
            
            transition: all 0.3s ease-in;
            &:hover{
            border: 2px solid $themecolor;padding: 0.5rem;
            }
            }
        
            p{
            font-size: 1rem;
            text-align: center;
            padding: 0.5rem;
            }
         }
        }


    

    }

    section.empty{
    background-color: rgba(0,0,0,0.7);
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
    font-size: 2rem;
    color: #Fff;
    }
    }

    section.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 1rem 1rem;
    h3{
    font-style: normal;
    font-size: 1.5rem;
    }
    p{
    padding:0rem 3rem;
    }
    iframe{
    height: 40vh;
    width: 100%;
    padding: 0rem 1rem;
    }
    }

}

footer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
section.logo{
display: flex;
flex-direction: column;
align-items: center;
img{
padding-top: 1.5rem;
height:15vw;width: 15vw;
}
p{
font-size: 2rem;
color: white;
padding: 0 ;
}
}
section.links{
margin:1.5rem 0rem;
    a{
        padding: 1rem;
        img{
        height: 3vw;
        width: 3vw;
        }
    
    }
}

}

@media (max-width:750px){
    header{
    position: relative;
    section.logo{
    img{
    width: 20vw;
    height: 20vw;
    display: inline;
    } 
    
    h1{
    display: none;
    }
    }
    i.menu{
    display: inline-block;
    position: absolute;
    top: 17px;right: 20px;
    font-size: 2rem;
    cursor: pointer;
    }
    nav{
    position: relative;
    ul{
    display: none;
    }
    ul.phone{
    display: none;
    background-color: #fff;
    position: absolute;
    right: 0;top: -25px;
    li{
    a{
    display: block;
    padding: 1rem 0;

    }
    }
    }

 }
   
    }

    footer{
    section.logo{
    img{
    width: 30vw;height: 30vw;
    }
    }
    }
}

}
